<h1 class="mb-2 text-center text-lg font-bold">{{ title | titlecase }}</h1>
<input type="text" class="w-full mb-2 px-4 py-2 border" placeholder="Filter products..." [(ngModel)]="term">
<!-- <app-product [product]="products[0]"></app-product>
     <app-product [product]="products[1]"></app-product> -->
<p *ngIf="loading" class="text-center text-lg">Loading...</p>

<!-- <div *ngIf="products$ | async as products">
    <app-product *ngFor="let product of products | filterProducts: term; let i = index" [product]="product"></app-product>
</div> -->
<div *ngIf="productsService.products">
    <app-product *ngFor="let product of productsService.products| filterProducts: term; let i = index" [product]="product"></app-product>
</div>

<app-modal *ngIf="modalService.isVisible$ | async" title="Create new Product">
    <app-create-product></app-create-product>    
</app-modal>
<button class="fixed right-5 bottom-5 px-4 py-2 text-white bg-red-700 rounded-full" (click)="modalService.open()">+</button>
